# Example env file if you're using docker containers
# Set as needed and uncomment to use
# For dev

DEBUG=1
SECRET_KEY=foo  # change this to any arbitrary string
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=docrepo
SQL_USER=admin
SQL_PASSWORD=admin
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
# STORAGE_ACCESS_KEY= # change this to Minio access key
# STORAGE_SECRET_KEY= # change this to Minio secret key
# STORAGE_MEDIA_BUCKET_NAME=docrepo
# ELASTIC_VERSION=8.15.1
# KC_HOST=http://keycloak:8080
# KC_REALM=documendous
# KC_CLIENT=documendous
# KC_CLIENT_SECRET=VYdfIWPy1pud4XOScy9K3palRaG9TrNs # if you change this, it should be to one you generate in keycloak
ROOT_LOG_LEVEL=DEBUG

# For prod

# DEBUG=0
# SECRET_KEY=a_much_better_secret_this_time_change_this
# DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
# SQL_ENGINE=django.db.backends.postgresql
# SQL_DATABASE=docrepo
# SQL_USER=admin
# SQL_PASSWORD=admin
# SQL_HOST=db
# SQL_PORT=5432
# DATABASE=postgres
# STORAGE_ACCESS_KEY= # change this to Minio access key
# STORAGE_SECRET_KEY= # change this to Minio secret key
# STORAGE_MEDIA_BUCKET_NAME=docrepo
# ELASTIC_VERSION=8.15.1
# KC_HOST=http://keycloak:8080
# KC_REALM=documendous
# KC_CLIENT=documendous
# KC_CLIENT_SECRET= # Generate a new kc secret key for production
# ROOT_LOG_LEVEL=INFO

# For prod db

# POSTGRES_USER=admin
# POSTGRES_PASSWORD=admin
# POSTGRES_DB=docrepo
