<label
  class="
    flex items-center space-x-2 text-gray-700 border border-gray-300 p-2 rounded-md text-sm
  "
>
  <input
    type="checkbox"
    name="multi_type" value="and_search"
    {% if "and_search" in multi_type_list %}checked{% endif %}
    title="Return results that match both metadata or full text. Leave unchecked for 'either'"
  >
  <span class="flex items-center">
    <span 
      class="material-symbols-outlined mt-[8px]"
      style="font-size: 16px !important"
    >
      precision_manufacturing
    </span>
    <span>
      Exact
      <span class="italic text-sm">(Must contain metadata & full Text)</span>
    </span>
  </span>
</label>
