{% load transformation_tags %}
{% load repo_tags %}

{% is_previewable element as is_previewable %}

{% if webproxy_share_enabled %}
  {% can_add_webproxy request.user element as can_add_webproxy %}
{% endif %}

<div x-data="{ showPreview: false, fileUrl: '' }">
  <span class="flex items-center px-4 gap-1">
    {% if element.current_version.size %}
      {% include "repo/partials/actions/document_action_items/_download_document.html" %}

      {% if is_previewable %}
        {% include "transformations/preview_link.html" %}
      {% else %}
        <span>
          {% include "transformations/_disabled_preview.html" %}
        </span>
      {% endif %}

      {% if can_add_webproxy %}
        {% include "webproxy/add_webproxy.html" %}
      {% endif %}

    {% else %}
      {% include "transformations/_no_view_available.html" %}
    {% endif %}

  </span>

  {% include "transformations/document_preview.html" %}

</div>
