{% load format_tags %}
{% load repo_tags %}

{% can_update_content request.user element as can_update_content %}

<tr>
  <th class="in-th">Version</th>

  <td class="px-6 py-4 whitespace-nowrap flex items-bottom text-gray-700">
    <span class="mr-2">
      {{ element.current_version_tag }}
    </span>
    {% if not element.is_in_recycle_path and can_update_content %}
      <a href="#" onclick="showModal('addVersionModal')"
        title="Upload a new version of this document">
        <span class="material-symbols-outlined text-gray-700 hover:text-blue-700">
          upload
        </span>
      </a>
    {% endif %}
  </td>

</tr>

<tr>
  <th class="in-th">Document Size</th>

  <td class="px-6 py-4 whitespace-nowrap text-gray-700">
    {{ element.document_size|human_readable_size|default:'--' }}
  </td>

</tr>

{% is_admin_user request.user as user_is_admin  %}

{% if user_is_admin %}
  <tr>
    <th class="in-th">Content File Path</th>
    <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ element.content_file_path }}</td>
  </tr>
{% endif %}

<tr>
  <th class="in-th">Mimetype</th>
  <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ element.mimetype.name }}</td>
</tr>
