{% load format_tags %}
{% load repo_tags %}

<tr>
  <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase">
    Version
  </th>
  <td class="px-6 py-4 whitespace-nowrap flex items-bottom">
    <span class="mr-2">
      {{ element.current_version_tag }}
    </span>
    {% if not element.is_in_recycle_path %}
      <a href="#" onclick="showModal('addVersionModal')"
        title="Create a new document in this space">
        <span class="material-symbols-outlined text-gray-700 hover:text-blue-700">
          upload
        </span>
      </a>
    {% endif %}
  </td>
</tr>
<tr>
  <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase">
    Document Size
  </th>
  <td class="px-6 py-4 whitespace-nowrap text-gray-700">
    {{ element.document_size|human_readable_size|default:'--' }}
  </td>
</tr>
{% is_admin_user request as user_is_admin  %}
{% if user_is_admin %}
  <tr>
    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase">Content File Path</th>
    <td class="px-6 py-4 whitespace-nowrap">{{ element.content_file_path }}</td>
  </tr>
{% endif %}
<tr>
  <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase">Mimetype</th>
  <td class="px-6 py-4 whitespace-nowrap">{{ element.mimetype.name }}</td>
</tr>
