{% if not child.is_recycle_folder %}
  {% comment %} No Recycle folder should be recycled or deleted {% endcomment %}
  <form
    action="{% url 'repo:delete_element' child.type child.pk %}"
    method="POST"
    onsubmit="return confirm('Are you sure you want to permanently delete this item? This action is unrecoverable.');"
  >
    {% csrf_token %}

    <button type="submit"
      title='Permanently Delete {{ element.type }} "{{ child.name|truncatechars:30 }}" (Unrecoverable)'
      class="text-gray-700 hover:text-blue-700"
    >
      <span class="material-icons-outlined">
        delete_forever
      </span>
    </button>

  </form>
{% endif %}
