{% extends "ui/base/_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<main>
  <div class="mt-8">
    <table class="min-w-full divide-y divide-gray-200 border shadow">
      <caption class="text-left p-2 relative mx-4">
        <div class="flex items-center gap-1 py-2">
          <span class="material-symbols-outlined" style="font-size: 20px !important">
            collections_bookmark
          </span>
          <span class="mr-2 font-bold">
            Bookmarks for {{ request.user.username }}
          </span>
        </div>
      </caption>

      <thead class="bg-gray-50">
        <tr>
          <th class="fl-th">Name</th>
          <th class="fl-th">Parent</th>
          <th class="fl-th">Owner</th>
          <th class="fl-th">Created</th>
          <th class="fl-th">Modified</th>
          {% include "repo/partials/_actions_th.html" %}
        </tr>
      </thead>

      {% include "repo/partials/_folder_children_table_data.html" with scope="full" %}

    </table>
  </div>
</main>

{% endblock main %}
