{% extends "ui/base/_base.html" %}
{% load static %}

{% block main %}

<main>
  <div class="mt-8">
    <table class="min-w-full divide-y divide-gray-200 border shadow">
      <caption class="text-left px-2 py-2 relative border">
        {% if folder.is_in_recycle_path %}
          <span class="material-symbols-outlined text-red-500">
            recycling
          </span>
        {% endif %}
        
        <div class="flex justify-between items-start">
          {% include "repo/partials/_path_with_links.html" %}

          <span class="w-2/5">
            {% include "search/partials/_search_elements_input.html" %}

            {% if search_term %}
              {% include "search/partials/_filter_notifier.html" %}
            {% endif %}

          </span>
        </div>

        {% if folder.parent_project  %}
          {% include "projects/partials/_project_role.html" %}
        {% endif %}

        {% include "repo/partials/actions/_folder_actions.html" %}

      </caption>

      <thead class="bg-gray-50">
        <tr>
          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="name" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="title" %}
          </th>

          <th class="fl-th">
            <div class="flex align-items gap-1 pb-[11px]">
              Owner
            </div>
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="created" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="modified" %}
          </th>

          {% include "repo/partials/_actions_th.html" %}

        </tr>
      </thead>

      {% include "repo/partials/_folder_children_table_data.html" with pagination_enabled=True scope="full" %}

    </table>
  </div>
</main>

{% include "repo/partials/_pagination.html" %}

{% endblock main %}
