{% extends "ui/base/_base.html" %}
{% load static %}
{% load project_tags %}
{% load repo_tags %}
{% load widget_tweaks %}

{% block main %}

{% can_update_element request element as can_update_element %}
{% can_view_project_details request element as can_view_project_details %}
{% can_bookmark request element as can_bookmark %}

<main>
  <div class="mt-8">
    <table class="min-w-full divide-y divide-gray-200 border shadow">
      <caption class="text-left p-2 relative mx-4">
        <div class="flex py-2 gap-2">
          <span class="mr-2 font-bold">
            {{ path_with_links|safe }}
          </span>
          {% if can_view_project_details %}
            {% include "projects/partials/_view_project_details.html" with element=element %}
          {% endif %}
          {% if not element.is_in_recycle_path and can_bookmark %}
            {% include "bookmarks/partials/actions/_bookmark_element.html" %}
          {% endif %}
        </div>
        <div class="flex items-center">
          <h2 class="text-xl font-bold mr-4 py-2">
            {{ element.type|title }} Details
          </h2>
          {% if can_update_element %}
            <a
              href="{% url 'repo:update_element' element.type element.id %}" 
              class="text-gray-700 hover:text-blue-700"
            >
              <span
                class="material-icons-outlined"
                title="Update {{ element.type }} '{{ element.name|truncatechars:30 }}' details"
              >
                edit
              </span>
            </a>
          {% endif %}
        </div>
      </caption>
      {% include "repo/partials/_element_table_data.html" %}
    </table>
  </div>

  {% include 'repo/partials/_summary_children_data.html' %}
  
  {% if not element.is_in_recycle_path %}
    {% if element.is_document and document_comments_enabled or element.is_folder and folder_comments_enabled %}
      {% include 'comments/comment_field.html' with element=element %}
    {% endif %}
  {% endif %}
  
</main>

{% include "repo/partials/_add_version_modal.html" %}
<script src="{% static 'js/repo/utils/modals.js' %}"></script>
{% endblock main %}
