{% extends "ui/base/_login_base.html" %}
{% load widget_tweaks %}

{% block main %}

<main>
  <div class="flex justify-center my-16">
    <form
      action="{% url 'login' %}"
      method="POST"
      class="w-full max-w-sm bg-white p-8 shadow rounded-lg"
    >
      {% csrf_token %}
      <legend>
        <h2 class="text-xl font-semibold mb-4 flex items-center justify-center">
          Login {% include 'ddocs/customization_tips/_tip.html' with anchor_name="customize-login-page" %}          
        </h2>

        {% if not request.user.is_authenticated %}
          <p class="text-blue-400 font-semibold mb-3 text-center">
            Logged out
          </p>
        {% else %}
          <p class="text-blue-400 font-semibold mb-3 text-center">
            Currently logged in as {{ request.user.username }}
          </p>
        {% endif %}

      </legend>

      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">
          Username: 
        </label>

        {% render_field form.username class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2" %}

      </div>

      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">
          Password
        </label>

        {% render_field form.password class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2" %}

      </div>

      {% if form.errors %}
        <p class="text-red-600 text-sm">
          Your username and password didn't match. Please try again.
        </p>
      {% endif %}

      <div class="flex justify-center my-4">
        <button
          class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mr-2"
          type="submit"
        >
          Login
        </button>

        <button
          class="bg-gray-500 text-white font-semibold py-2 px-4 rounded ml-2"
          type="reset"
        >
          Reset
        </button>

      </div>

      {% if keycloak_is_available %}
        <div class="flex justify-center my-4">
          <a class="underline" href="{% url 'oidc_authentication_init' %}">
            Login via Keycloak
          </a>
        </div>
      {% endif %}

    </form>
  </div>
</main>

{% endblock main %}
