<div class="w-full">
  <p class="text-2xl font-semibold px-8 mt-8 flex items-center gap-1">
    <span
      class="material-symbols-outlined"
      style="font-size: 20px !important pb-1"
    >
      rowing
    </span>
    
    <span>
      Activity
    </span>

    <span class="pb-0.5">
      {% include "avatars/_avatar_image.html" with profile=request.user.profile image_size="25" %}
    </span>

  </p>

  <div
    class="
      w-3/4 flex flex-col py-8 gap-3 justify-center
      sm:w-full lg:w-full lg:flex-row lg:gap-4
    "
  >
    {% include "ui/partials/_my_project_list.html" %}
    {% include "ui/partials/_project_list.html" %}
    {% include "ui/partials/_latest_documents.html" %}
  </div>

</div>
