<section
  class="
    w-full md:w-full p-6 mx-6 bg-white rounded-lg shadow-md outline
    outline-offset-1 outline-1 outline-gray-200 pt-2 mx-6
  "
>
  <header class="flex items-center justify-between">
    <h2 class="text-2xl font-semibold mb-4 py-2">
      Welcome to DocrepoX!
    </h2>
    {% include "ui/widgets/_close_ui_section.html" with setting="show_welcome" %}
  </header>

  <p class="mb-4 leading-relaxed text-gray-700">
    DocrepoX is a cutting-edge Enterprise Content Management (ECM) and Digital Asset Management (DAM) system designed to streamline the organization, storage, and retrieval of digital assets and documents across various industries. With its intuitive interface, DocrepoX offers robust features that enable businesses to manage a vast array of digital content efficiently—from documents and images to multimedia and complex datasets. Its powerful search capabilities ensure that users can quickly locate files through metadata, tags, and full-text search, enhancing productivity and collaboration.
  </p>
  <p class="mb-4 leading-relaxed text-gray-700">
    The system is engineered for scalability, making it suitable for enterprises of all sizes. It supports seamless integration with existing workflows and third-party applications, ensuring that organizations can adopt it with minimal disruption to their current operations. DocrepoX emphasizes security, with advanced permissions, encryption, and compliance features that protect sensitive information from unauthorized access while adhering to industry standards.
  </p>
  <p class="mb-4 leading-relaxed text-gray-700">
    DocrepoX is more than just an ECM and DAM solution; it's a comprehensive tool that empowers organizations to harness the full potential of their digital assets, optimize document management processes, and drive innovation.
  </p>
</section>
