{% extends "ui/base/_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<main>
  <div class="mt-8">
    <table class="min-w-full divide-y divide-gray-200 border shadow">
      <caption class="text-left p-2 relative border">
        <div class="flex justify-between items-center">
          {% include "repo/partials/_path_with_links.html" %}

          <span class="w-1/2">
            {% include "search/partials/_search_projects_input.html" %}
          </span>

        </div>
          
        <div class="flex items-end mx-1 py-2">
          <a href="#"
            class="hover:text-blue-700 relative group mr-2"
            onclick="showModal('addProjectModal')"
            title="Create a new project">
            <span class="material-symbols-outlined">
              library_add
            </span>
          </a>
        </div>

      </caption>

      <thead class="bg-gray-50">
        <tr>
          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="name" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="title" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="created" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="modified" %}
          </th>

          <th class="fl-th">
            {% include "repo/partials/_sortable_th.html" with column_name="visibility" %}
          </th>

          {% include "repo/partials/_actions_th.html" %}

        </tr>
      </thead>

      {% include "projects/partials/_project_children_table_data.html" with pagination_enabled=True %}

    </table>
  </div>

  {% include "projects/partials/_add_project_modal.html" %}

  <script src="{% static 'js/repo/utils/modals.js' %}"></script>

</main>

{% include "repo/partials/_pagination.html" with children=projects %}

{% endblock main %}
