<!-- Footer -->
<footer class="py-4 mt-8 flex justify-center text-sm">
  <span>
    Documendous &copy; {% now "Y" %}
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    {{ app_version }}
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    <a
      href="/ddocs/license/"
      class="text-gray-700 hover:no-underline hover:text-gray-700"
    >
      Terms
    </a>
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    <a
      href="{{ support_url }}"
      target="_blank"
      class="text-gray-700 hover:no-underline hover:text-gray-700"
    >
      Support
    </a>
  </span>

</footer>
