<!-- Footer -->
<footer class="py-4 mt-8 flex items-center justify-center text-sm">
  <span>
    Documendous &copy; {% now "Y" %}
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    {{ app_version }}
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    <a
      href="/ddocs/license/"
      class="flex items-center text-gray-700 hover:no-underline hover:text-gray-700"
    >
      <span
        class="material-symbols-outlined pt-1"
        style="font-size: 15px !important;"
      >
        license
      </span>
      Terms
    </a>
  </span>

  <span class="mx-2">&#8226;</span>

  <span>
    <a
      href="{{ support_url }}"
      target="_blank"
      class="flex items-center text-gray-700 hover:no-underline hover:text-gray-700"
    >
      <span
        class="material-symbols-outlined pt-1"
        style="font-size: 15px !important;"
      >
        accessibility_new
      </span>
      Support
    </a>
  </span>

</footer>
