{% load repo_tags %}

{% is_admin_user request as user_is_admin  %}

<nav class="left-nav gap-0.5">
  <a
    href="{% url 'repo:index' %}"
    class="tooltip"
    title="Dashboard"
    hx-boost="{{ use_hx_boost_int }}"
  >
    <span
      class="material-icons-outlined nav-icon" style="font-size: 24px !important;"
    >
      home
    </span>
  </a>

  <a
    href="{% url 'repo:folder' home_folder_id %}"
    class="tooltip"
    title="Home Folder"
    hx-boost="{{ use_hx_boost_int }}"
  >
    <span
      class="material-icons-outlined nav-icon" 
      style="font-size: 24px !important;"
    >
      folder
    </span>
  </a>

  <a
    href="{% url 'repo:projects:index' %}"
    class="tooltip"
    title="Projects"
    hx-boost="{{ use_hx_boost_ext }}"
  >
    <span
      class="material-symbols-outlined nav-icon" 
      style="font-size: 20px !important;"
    >
      library_books
    </span>
  </a>

  {% if user_is_admin %}
    <a
      href="{% url 'repo:folder' root_folder_id %}"
      class="tooltip"
      title="Repository Root"
      hx-boost="{{ use_hx_boost_int }}"
    >
      <span
        class="material-icons-outlined nav-link text-red-500 hover:text-red-700"
        style="font-size: 22px !important;"
      >
        storage
      </span>
    </a>
  {% endif %}

  <a
    href="{% url 'ddocs:index' %}"
    class="tooltip"
    title="Documentation"
    hx-boost="{{ use_hx_boost_ext }}"
  >
    <span
      class="material-icons-outlined nav-icon" 
      style="font-size: 20px !important;"
    >
      book_4
    </span>
  </a>

</nav>
