{% load repo_tags %}

{% is_admin_user request.user as user_is_admin  %}

<nav class="left-nav">
  <a
    href="{% url 'repo:index' %}"
    class="tooltip px-2"
    title="Dashboard"
  >
    <span
      class="material-icons-outlined nav-icon" style="font-size: 24px !important;"
    >
      home
    </span>
  </a>

  <a
    href="{% url 'repo:folder' home_folder_id %}"
    class="tooltip px-2"
    title="Home Folder"
  >
    <span
      class="material-icons-outlined nav-icon" 
      style="font-size: 24px !important;"
    >
      folder
    </span>
  </a>

  <a
    href="{% url 'repo:projects:index' %}"
    class="tooltip px-2"
    title="Projects"
  >
    <span
      class="material-symbols-outlined nav-icon" 
      style="font-size: 22px !important;"
    >
      library_books
    </span>
  </a>

  {% if user_is_admin %}
    <a
      href="{% url 'repo:folder' root_folder_id %}"
      class="tooltip px-2"
      title="Repository Root"
    >
      <span
        class="material-icons-outlined nav-link text-red-500 hover:text-red-700"
        style="font-size: 24px !important;"
      >
        storage
      </span>
    </a>
  {% endif %}

  <a
    href="{% url 'ddocs:index' %}"
    class="tooltip px-2"
    title="Documentation"
  >
    <span
      class="material-icons-outlined nav-icon" 
      style="font-size: 22px !important;"
    >
      book_4
    </span>
  </a>

  <a
    href="{% url 'repo:search:advanced_search' %}"
    class="tooltip px-2"
    title="Advanced Search"
  >
    <span
      class="material-icons-outlined nav-link text-gray-700 hover:text-blue-700" 
      style="font-size: 24px !important;"
    >
      search
    </span>
  </a>

</nav>
