{% load repo_tags %}
{% load comms_tags %}

{% is_admin_user request.user as user_is_admin  %}
{% has_unread_comms request.user as has_unread_comms %}

<nav class="right-nav">
  <span
    class="
      text-xs font-semibold self-center pb-1
      {% if user_is_admin %}
        text-red-500
      {% else %}
        text-gray-700
      {% endif %}
    "
  >
    {{ request.user.username|upper }}
  </span>

  {% if user_is_admin %}
    <a href="{% url 'admin:index' %}" class="tooltip" title="Admin Console">
      <span class="material-icons-outlined nav-link text-red-500 hover:text-red-700">
        admin_panel_settings
      </span>
    </a>
  {% endif %}

  {% if webproxy_share_enabled %}
    <a
      href="{% url 'repo:webproxy:proxied_document_list' %}"
      class="tooltip"
      title="Proxied Documents"
    >
      <span
        class="material-icons-outlined nav-icon"
      >cell_tower</span>
    </a>
  {% endif %}
  
  <a
    href="{% url 'repo:bookmarks:bookmark_list' %}"
    class="tooltip"
    title="Bookmarks"
  >
    <span
      class="material-icons-outlined nav-icon"
    >collections_bookmark</span>
  </a>

  <a
    href="{% url 'repo:comms:comm_list' %}"
    class="tooltip"
    title="
      {% if has_unread_comms %}
        New messages
      {% else %}
        Messages
      {% endif %}
    "
  >
    <span
      class="
        material-icons-outlined
        {% if has_unread_comms %} nav-icon-alert {% else %} nav-icon{% endif %}
      "
    >
      mail
    </span>
  </a>

  <a
    href="{% url 'repo:update_profile' %}"
    class="tooltip"
    title="Welcome {{ user.username }}!"
  >
    <span>
      {% include "avatars/_avatar_image.html" with profile=request.user.profile image_size="22" use_image_title=False exclude_id=True %}
    </span>
  </a>

  <a
    href="{% url "repo:folder" request.user.profile.recycle_folder.pk %}"
    class="tooltip"
    title="Recyle Bin"
  >
    <span
      class="material-icons-outlined nav-icon"
    >delete</span>
  </a>

  <form
    action="{% if keycloak_is_available %}{% url 'oidc_logout' %}{% else %}{% url 'logout' %}{% endif %}"
    method="post"
    class="inline"
  >
    {% csrf_token %}

    <button type="submit" class="tooltip" title="Sign Out">
      <span class="material-icons-outlined nav-icon">
        logout
      </span>
    </button>
  </form>

</nav>
