{% load clipboard_tags %}

<a class="text-gray-700 hover:text-blue-700 flex items-center font-semibold"
  {% if child.is_folder %}
    href="{% url 'repo:folder' child.pk %}"
  {% elif child.folder %}
    href="{% url 'repo:folder' child.folder.pk %}"
  {% endif %}
  hx-boost="{{ use_hx_boost_ext }}"
>
  <span class="material-icons-outlined mr-2">folder</span>
  {% include "repo/partials/_folder_children_name.html" %}

  {% element_in_clipboard request child as in_clipboard %}

  {% if in_clipboard %}
    <span
      id="in_clipboard_icon_folder_{{ child.pk }}"
      class="material-icons-outlined text-blue-400 h-[20px] ml-2"
    >
      content_paste
    </span>
  {% endif %}
</a>
