{% load project_tags %}
{% load bookmark_tags %}
{% load static %}

<tbody class="bg-white divide-y divide-gray-200" id="project-children-table-data">
  {% for project in projects %}
    {% can_read_project request.user project.folder as can_read_project %}

    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm">
        {% if can_read_project %}
          <a
            class="hover:text-blue-700 text-gray-700 flex items-center font-semibold"
            href="{% url "repo:folder" project.folder.pk %}"
          >
            <span class="material-icons-outlined">
              library_books
            </span>

            &nbsp;&nbsp;
            
            {{ project.name }}

            {% if project|is_bookmarked:request.user %}
              <span
                class="material-icons-outlined nav-link ml-2 pt-0.5"
                style="font-size: 20px !important;"
              >
                star
              </span>
            {% endif %}

          </a>

        {% else %}
          <span
            class="text-gray-400 flex items-center"
            {% if not can_read_project %}
              {% include "projects/partials/attributes/_title_tip_request_join.html" %}
            {% endif %}
          >
            <span class="material-icons-outlined">
              folder
            </span>&nbsp;&nbsp;

            {{ project.name }}

          </span>
        {% endif %}
      </td>

      <td
        class="
          px-6 py-4 whitespace-nowrap
          text-gray-{% if can_read_project %}700{% else %}400{% endif %}
          text-sm
        "
        {% if not can_read_project %}
          {% include "projects/partials/attributes/_title_tip_request_join.html" %}
        {% endif %}
        {% if project.title %}
          title="{{ project.title }}"
        {% endif %}
      >
        {{ project.title|default:'--'|truncatechars:30 }}
      </td>

      <td
        class="
          px-6 py-4 whitespace-nowrap
          text-gray-{% if can_read_project %}700{% else %}400{% endif %}
          text-sm
        "
        {% if not can_read_project %}
          {% include "projects/partials/attributes/_title_tip_request_join.html" %}
        {% endif %}
      >
        {{ project.created }}
      </td>

      <td
        class="
          px-6 py-4 whitespace-nowrap
          text-gray-{% if can_read_project %}700{% else %}400{% endif %}
          text-sm
        "
        {% if not can_read_project %}
          {% include "projects/partials/attributes/_title_tip_request_join.html" %}
        {% endif %}
      >
        {{ project.modified }}
      </td>

      <td
        class="
          px-6 py-4 whitespace-nowrap
          text-gray-{% if can_read_project %}700{% else %}400{% endif %}
          text-sm
        "
        {% if not can_read_project %}
          {% include "projects/partials/attributes/_title_tip_request_join.html" %}
        {% endif %}
      >
        {{ project.visibility|title }}
      </td>

      <td
        class="
          px-6 py-4 whitespace-nowrap text-gray-700 text-sm
          flex justify-center items-center gap-3
        "
      >
        {% include "repo/partials/_element_actions.html" with child=project %}
      </td>

    </tr>
  {% empty %}
    <tr>
      <td colspan="6" class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-700 text-sm">
        --
      </td>
    </tr>
  {% endfor %}

</tbody>

{% if not pagination_enabled %}
  <script src="{% static 'js/repo/utils/hide-pagination.js' %}"></script>
{% endif %}
