<tbody class="bg-white divide-y divide-gray-200">
  <tr>
    <th class="in-th">Name</th>

    <td
      class="
        px-6 py-4 whitespace-nowrap flex items-center text-gray-700
      "
    >
      <span class="mr-2">
        {{ project.name }}
      </span>
    </td>

  </tr>

  <tr>
    <th class="in-th">Owner</th>

    <td class="px-6 py-4 whitespace-nowrap text-gray-700">
      {{ project.owner.username }}
    </td>

  </tr>

  <tr>
    <th class="in-th">Visibility</th>

    <td class="px-6 py-4 whitespace-nowrap text-gray-700">
      {{ project.visibility|title }}
    </td>

  </tr>

  <tr>
    <th class="in-th">ID</th>

    <td class="px-6 py-4 whitespace-nowrap text-gray-700">
      {{ project.id }}
    </td>

  </tr>

  <tr>
    <th class="in-th">Full Path</th>

    <td class="px-6 py-4 whitespace-nowrap text-gray-700">
      {{ project.folder.get_full_path }}
    </td>

  </tr>

  {% include "repo/partials/fields/_in_title_field.html" with title=project.title %}
  {% include "repo/partials/fields/_in_description_field.html" with description=project.description %}
  {% include "repo/partials/_tags_display_row.html" with element=project %}

</tbody>
