{% load project_tags %}

<div id="comment-list" class="space-y-4 mt-4">
  {% for comment in element.comments.all %}
    {% can_delete_comment request comment.pk element.type element.pk as can_delete_comment %}
    <div class="p-4 bg-gray-100 rounded-lg shadow-md border border-gray-200 w-1/2">
      <div class="text-sm text-gray-500 flex items-center justify-between">
        <span class="font-semibold text-gray-700">
          {{ comment.author }}
        </span>
        {% if can_delete_comment %}
          <form method="POST" action="{% url 'repo:comments:delete_comment' comment.pk element.type element.pk %}">
            {% csrf_token %}
            <button 
              type="submit" 
              onclick="return confirm('This action will permanently delete this comment. Ok?');"
              class="bg-gray-400 hover:bg-gray-500 text-white font-semibold rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-1 pt-1"
            >
              <span 
                class="material-symbols-outlined" 
                style="font-size: 18px !important;"
              >
                delete
              </span>
            </button>
          </form>
        {% endif %}
      </div>
      <div
        class="text-xs text-gray-500"
        x-data="localeString({dateTime: '{{ comment.created|date:"c"}}'})"
        x-text="localDateTime"
      ></div>
      <div class="mt-2 text-gray-800 text-sm">
        <span>
          {{ comment.content|linebreaksbr }}
        </span>
      </div>
    </div>
  {% empty %}
    <div class="text-gray-500 text-sm italic">
      No comments yet.
    </div>
  {% endfor %}
</div>
