{% load widget_tweaks %}

<div x-data="handleModal({hasErrors: {{has_create_document_errors}}})">
  <div
    id="createDocumentModal"
    x-ref="createDocumentModal"
    class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
    x-bind:class="{hidden: !hasErrors}"
  >
    <div class="relative top-20 mx-auto border border-gray-700 w-96 shadow-lg rounded bg-white">
      <h3
        class="
          text-lg font-medium leading-6 rounded-t text-white
          bg-blue-500 px-5 py-3 flex align-items gap-1
        "
      >
      <div
        class="material-icons-outlined mb-4 pt-0.5"
        style="font-size: 18px !important"
      >
        description
      </div>
        Create Text Document
      </h3>

      <div class="p-5">
        <form action='{% url "repo:create_document" folder.id %}' method="post">
          {% csrf_token %}
          
          <div class="mt-2">
            <label for="name" class="block text-sm font-medium text-gray-700">
              Name: <span class="text-red-500">*</span>
            </label>

            <input
              type="text"
              name="name"
              id="id_document_name"
              class="
                mt-1 block w-full rounded-md border border-gray-300 shadow-sm
                focus:border-indigo-300 focus:ring focus:ring-indigo-200
                focus:ring-opacity-50 p-2
              "
              required
            >

            <div class="text-red-500 text-sm mt-1"  x-bind:class="{hidden: !hasErrors}">
              {{ add_document_form.name.errors }}
            </div>

          </div>

          <div class="mt-2">
            <label for="content" class="block text-sm font-medium text-gray-700">
              Content:
            </label>

            {% render_field add_version_form.content class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2" %}

          </div>

          <div class="mt-2">
            <label for="title" class="block text-sm font-medium text-gray-700">
              Title:
            </label>

            {% render_field add_document_form.title class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2" %}

          </div>

          <div class="mt-2">
            <label for="description" class="block text-sm font-medium text-gray-700">
              Description:
            </label>

            {% render_field add_document_form.description class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2" %}

          </div>

          <div class="flex justify-end mt-4 space-x-2">
            <button
              class="bg-blue-500 text-white font-semibold py-2 px-4 rounded"
              type="submit"
            >
              Save
            </button>

            <button
              class="bg-gray-500 text-white font-semibold py-2 px-4 rounded"
              type="button"
              onclick="hideModal('createDocumentModal')"
            >
              Cancel
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
