{% load clipboard_tags %}
{% load format_tags %}
{% load project_tags %}
{% load static %}

<tbody class="bg-white divide-y divide-gray-200" id="folder-children-table-data" >
  {% for child in children %}
    {% can_read_project request.user child.parent_project.folder as can_read_project %}
    <tr>
      {% if scope == 'full' or scope == 'summary' %}
        <td class="px-6 py-4 whitespace-nowrap text-sm">
          {% if child.is_folder and not child.type == 'project' %}
            {% include "repo/partials/folder/_folder_name.html" %}
          {% elif child.type == 'project' %}
            {% include "projects/partials/_project_name.html" %}
          {% else %}
            {% include "repo/partials/document/_document_name.html" %}
          {% endif %}
        </td>
      {% endif %}
      
      {% if is_bookmark_list_view %}
        {% include "repo/partials/_bookmark_list_view.html" %}
      {% else %}
        {% if scope == 'full' %}
          <td
            class="px-6 py-4 whitespace-nowrap text-gray-700 text-sm"
            {% if child.title %}
              title="{{ child.title }}"
            {% endif %}
          >
            {{ child.title|default:'--'|truncatechars:30 }}
          </td>
        {% endif %}
      {% endif %}

      {% if scope == 'summary' %}
        <td
          class="
            px-6 py-4 whitespace-nowrap text-sm
            text-gray-{% if child.parent_project.folder and not can_read_project %}400{% else %}700{% endif %}
          "
        >
          {% if child.is_document %}
            {% include "repo/partials/document/_document_size.html" %}
          {% else %}
            {% include "repo/partials/folder/_folder_size.html" %}
          {% endif %}
        </td>
      {% endif %}

      {% if scope == 'full' or scope == 'summary' %}
        <td
          class="
            px-6 py-4 whitespace-nowrap
            text-gray-{% if child.parent_project.folder and not can_read_project %}400{% else %}700{% endif %}
            text-sm
          "
        >
          {{ child.owner }}
        </td>
      {% endif %}
      
      {% if scope == 'full' %}
        <td class="px-6 py-4 whitespace-nowrap text-gray-700 text-sm">
          {{ child.created }}
        </td>

        <td class="px-6 py-4 whitespace-nowrap text-gray-700 text-sm">
          {{ child.modified }}
        </td>

      {% endif %}
      
      {% if scope == 'full' or scope == 'summary' %}
        <td
          class="
            px-6 py-4 whitespace-nowrap
            text-gray-{% if child.parent_project.folder and not can_read_project %}400{% else %}700{% endif %}
            text-sm flex justify-center items-center gap-3
          "
        >

          {% if child.parent_project.folder %}
            {% include "repo/partials/_element_actions.html" with project=child.parent_project %}
          {% else %}
            {% include "repo/partials/_element_actions.html" %}
          {% endif %}
        
        </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="6" class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-700">
        No records found
      </td>
    </tr>
  {% endfor %}
</tbody>

{% if not pagination_enabled %}
  <script src="{% static 'js/repo/utils/hide-pagination.js' %}"></script>
{% endif %}

<script>
  filterSearchTerm = document.getElementById("filter_search_term");
  if (filterSearchTerm) filterSearchTerm.textContent = "{{ search_term }}";
</script>

<script src="{% static 'js/repo/utils/element-restore-redirect.js' %}"></script>
