{% load clipboard_tags %}
{% load format_tags %}
{% load static %}

<tbody class="bg-white divide-y divide-gray-200" id="folder-children-table-data" >
  {% for child in children %}
    <tr>
      {% if scope == 'full' or scope == 'summary' %}
        <td class="px-6 py-4 whitespace-nowrap text-sm">
          {% if child.is_folder or child.folder %}
          <a class="text-gray-600 hover:text-blue-700 flex items-center"
            {% if child.is_folder %}
              href="{% url 'repo:folder' child.pk %}"
            {% elif child.folder %}
              href="{% url 'repo:folder' child.folder.pk %}"
            {% endif %}
            hx-boost="{{ use_hx_boost_ext }}"
            >
            <span class="material-icons-outlined mr-2">folder</span>
            {% include "repo/partials/_folder_children_name.html" %}
            {% element_in_clipboard request child as in_clipboard %}
            {% if in_clipboard %}
              <span
                id="in_clipboard_icon_{{ child.pk }}"
                class="material-icons-outlined text-blue-400 h-[20px] ml-2"
              >content_paste</span>
            {% endif %}
          </a>
          {% else %}
            <a class="text-gray-600 hover:text-blue-700 flex items-center"
              href="{% url 'repo:element_details' child.type child.pk %}"
              hx-boost="{{ use_hx_boost_ext }}"
            >
              <span class="material-icons-outlined mr-2">
                description
              </span>
              {% include "repo/partials/_folder_children_name.html" %}
              {% element_in_clipboard request child as in_clipboard %}
              {% if in_clipboard %}
                <span
                  id="in_clipboard_icon_{{ child.pk }}"
                  class="material-icons-outlined text-blue-400 h-[20px] ml-2"
                >content_paste</span>
              {% endif %}
            </a>
          {% endif %}
        </td>
      {% endif %}
      
      {% if is_bookmark_list_view %}
        <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
          <a
            {% if child.type == 'project' %}
              href="{% url 'repo:folder' child.folder.pk %}"
            {% else %}
              href="{% url 'repo:folder' child.parent.pk %}"
            {% endif %}
            class="text-gray-600 hover:text-blue-700 flex items-center"
            hx-boost="{{ use_hx_boost_int }}"
          >
            {% if child.type == 'project' %}
              {{ child.folder.get_full_path }}
            {% else %}
              {{ child.parent.get_full_path }}
            {% endif %}
          </a>
        </td>
      {% else %}
        {% if scope == 'full' %}
          <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
            {{ child.title|default:'--'|truncatechars:30 }}
          </td>
        {% endif %}
      {% endif %}
      {% if scope == 'summary' %}
        <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
          {% if child.is_document %}
            {% include "repo/partials/document/_document_size.html" %}
          {% else %}
            {% include "repo/partials/folder/_folder_size.html" %}
          {% endif %}
        </td>
      {% endif %}
      {% if scope == 'full' or scope == 'summary' %}
        <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
          {{ child.owner }}
        </td>
      {% endif %}
      
      {% if scope == 'full' %}
        <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
          {{ child.created }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm">
          {{ child.modified }}
        </td>
      {% endif %}
      
      {% if scope == 'full' or scope == 'summary' %}
        <td
          class="
            px-6 py-4 whitespace-nowrap text-gray-600 text-sm
            flex justify-start items-center gap-3
          "
        >
          {% include "repo/partials/_element_actions.html" %}
        </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="6" class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-600">
        No records found
      </td>
    </tr>
  {% endfor %}
</tbody>

{% if not pagination_enabled %}
  <script src="{% static 'js/repo/utils/hide-pagination.js' %}"></script>
{% endif %}
