{% block summary_children_data %}
  {% if element.is_folder and not element.is_recycle_folder %}
    <div class="mt-8">
      <table class="min-w-full divide-y divide-gray-200 border shadow">
        <caption class="text-left p-2 relative mx-4">
          <div class="flex items-center">
            <h2 class="text-xl font-bold mr-4 py-2">
              Subfolders & Documents
            </h2>
          </div>
        </caption>

        <thead>
          <tr>
            <th class="fl-th">Name</th>

            {% if scope == 'summary' %}
              <th class="fl-th">Current Version Size</th>
            {% endif %}

            <th class="fl-th">Owner</th>
            <th class="fl-th">Actions</th>

          </tr>
        </thead>

        {% include "repo/partials/_folder_children_table_data.html" with scope="summary" children=element.get_children %}

      </table>
    </div>
  {% elif element.is_folder and element.name == 'Recycle' %}
    <div class="mt-8 text-center text-sm text-gray-500">
      To view folders and documents in this space, return to the Recycle folder view.
    </div>
  {% endif %}

{% endblock %}
