<div id="document-list">
  {% for item in clipboard_documents %}
    <li id="cbd-{{ item.pk }}" class="mb-4">
      <div class="flex items-center justify-between gap-2" title="{{ item.document.name }}">
        <span>
          - {{ item.document.name|truncatechars:30 }}
        </span>
        
        <span
          class="material-symbols-outlined cursor-pointer"
          hx-post="{% url 'repo:clipboard:remove_item' 'document' item.pk %}"
          hx-trigger="click"
          hx-target="#cbd-{{ item.pk }}"
          hx-swap="outerHTML"
          title="Remove document from list"
          onclick="removeClipboardIcon('{{ item.document.pk }}', 'document');" {# staticfiles/js/clipboard/utils/modals.js #}
        >remove_selection</span>

      </div>
    </li>
  {% endfor %}
</div>
