<div id="folder-list">
  {% for item in clipboard_folders %}
    <li id="cbf-{{ item.pk }}" class="mb-4">
      <div class="flex items-center justify-between gap-2" title="{{ item.folder.name }}">
        <span>
          - {{ item.folder.name|truncatechars:30 }}
        </span>
        
        <span
          class="material-symbols-outlined cursor-pointer"
          hx-post="{% url 'repo:clipboard:remove_item' 'folder' item.pk %}"
          hx-trigger="click"
          hx-target="#cbf-{{ item.pk }}"
          hx-swap="outerHTML"
          title="Remove folder from list"
          onclick="removeClipboardIcon('{{ item.folder.pk }}', 'folder');" {# staticfiles/js/clipboard/utils/modals.js #}
        >remove_selection</span>

      </div>
    </li>
  {% endfor %}
</div>
